:root {
  --bg: #ffffff;
  --text: #333;
  --input-bg: #f1f1f1;
  --btn-bg: #00bcd4;
  --btn-hover: #0097a7;
  --delete-bg: #ff6b6b;
  --delete-hover: #e53935;
}

body.dark {
  --bg: #1f1f1f;
  --text: #e0e0e0;
  --input-bg: #333;
  --btn-bg: #4db6ac;
  --btn-hover: #00897b;
  --delete-bg: #ef5350;
  --delete-hover: #c62828;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: var(--bg);
  color: var(--text);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.3s, color 0.3s;
}

.container {
  background-color: var(--bg);
  padding: 30px 40px;
  border-radius: 16px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

#themeToggle {
  background: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
}

.input-section {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  flex: 1;
  padding: 10px;
  border: 2px solid var(--btn-bg);
  border-radius: 8px;
  font-size: 16px;
  background-color: var(--input-bg);
  color: var(--text);
}

button {
  padding: 10px 16px;
  border: none;
  border-radius: 8px;
  background-color: var(--btn-bg);
  color: white;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background-color: var(--btn-hover);
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: var(--input-bg);
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.deleteBtn {
  background-color: var(--delete-bg);
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
}

.deleteBtn:hover {
  background-color: var(--delete-hover);
}

.profile
{
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.profile img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 4px 10px rgba(105, 86, 227, 0.5);
    transition: transform 0.3s ease-in-out;

}

.profile img:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 15px rgba(105, 86, 227, 0.7);
    
}


@media screen and (max-width: 480px) {
  .profile {
    top: 10px;
    right: 10px;
  }

  
}
